<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Creacion de un alumno</title>
</head>
<body>
<h1>Alumno</h1>

<form  method="post" th:action="{/addAlumno}">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre"  th:field="*{nombre}">

    <label for="apellido">Apellido:</label>
    <input type="text" id="apellido"  th:field="*{apellido}">

    <label for="edad">Edad:</label>
    <input type="number" id="edad"  th:field="*{edad}">

    <label for="dni">DNI:</label>
    <input type="text" id="dni"  th:field="*{dni}">

    <button type="submit">Agregar Alumno</button>
</form>
</body>
</html>
